#heatmap {
  width: 100vw;
  height: 100vh;
}

.empty-cell {
  background-color: gray;
  opacity: 0.3;
}

.heatmap {
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid black;
  padding: 10px;
  table-layout: fixed;
  width: 100px;
  margin-left: 50px;
  margin-top: 50px;
}

td {
  border: 2px solid black;
}

.pre-label {
  position: absolute;
  top: 50px;
  left: 180px;
}
