.contact-matrix-title {
  margin: 0;
}

.contact-matrix-cell {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-matrix-header {
  display: flex;
  align-items: center;
  margin: 0;
}

.contact-matrix-controls {
  display: flex;
  padding: 10px;
  width: 500px;
  justify-content: space-evenly;
}

.contact-matrix-input {
  margin-left: 10px;
  width: 60px;
}

.contact-matrix-legend-monotonic {
  width: 17px;
  height: 17px;
  border: 4px solid black;
  margin-right: 5px;
}

.contact-matrix-legend-no-contact {
  width: 25px;
  height: 25px;
  background-color: #e5e5e5;
  margin-right: 5px;
}

.contact-matrix-legend-value-ignored {
  width: 25px;
  height: 25px;
  background-color: #514d4d;
  margin-right: 5px;
}

.column-header-cell-class-label {
  position: absolute;
  top: 10px;
  right: 50px;
  transform: rotate(270deg);
}

.row-header-cell-class-label {
  position: absolute;
  bottom: 30px;
}

.row-neuron-type-label {
  position: absolute;
  left: 10px;
}

.row-neuron-type-label {
  position: absolute;
  z-index: 1;
  top: 688px;
  left: -3px;
  background-color: white;
  padding: 1em;
  border: 1px solid black;
  width: 50px;
}

.column-neuron-type-label {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  cursor: pointer;
  background-color: white;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-radius: 0.25em 0.25em 0em 0em;
  width: 80px;
  height: 36px;
}

.sensory {
  background-color: #f9cef9;
}

.interneuron {
  background-color: #ff887a;
}

.motor {
  background-color: #b7daf5;
}

.modulatory {
  background-color: #f9d77b;
}

.muscle {
  background-color: #a8f5a2;
}

.other {
  background-color: #d9d9d9;
}
