@import './sticky-grid.css';
@import './contact-matrix.css';
#heatmap {
  width: 100vw;
  height: 100vh;
}

.cell-data {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.dataset-cell {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  width: 35px;
  height: 35px;
  border: 1px solid #949494;
  /* text-align: center; */
  cursor: pointer;
}

.empty-cell {
  background-color: #949494;
  opacity: 0.3;
}

.heatmap {
  border-collapse: collapse;
}

.heatmap-birds-eye-view {
  border-collapse: collapse;
  transform: scale(0.1);
}

table,
th,
td {
  border: 1px solid black;
  table-layout: fixed;
  width: 80px;
  height: 80px;
  margin-left: 50px;
  margin-top: 50px;
}
td {
  border: 2px solid black;
}

.sticky-x-header-cell {
  /* top: 0; */
  z-index: 10 !important;
  position: sticky !important;
  background-color: white;
  opacity: 1;
  border: 1px solid black;
  box-shadow: 2px 2px 2px 2px #949494;
}

.sticky-y-header-cell {
  /* left: 0; */
  z-index: 11 !important;
  position: sticky !important;
  background-color: white;
  opacity: 1;
  border: 1px solid black;
  box-shadow: 2px 2px 2px 2px #949494;
}

.pre-label {
  position: absolute;
  top: 150px;
  left: -30px;
  transform: rotate(-90deg);
}

.post-label {
  position: absolute;
  top: 20px;
  left: 180px;
}

.connection-info {
  position: fixed;
  right: 100px;
  bottom: 50px;
  background-color: white;
  opacity: 1;
  z-index: 100;
  border: 1px solid black;
  width: 300px;
  height: 300px;
  overflow: scroll;
  box-shadow: 2px 2px 2px 2px #949494;
}

.synapse-entry {
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
}

.dataset-synapses-entry {
  padding: 10px;
}

.catmaid-link {
  padding-right: 10px;
}
