.cell-legend {
  position: absolute;
  right: 60px;
  top: 600px;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 1em;
  box-shadow: 3px 3px 5px 6px #ccc;
}

.cell-legend-entry {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}
