@import './color-scale.css';
@import './cell-legend.css';
@import './modal.css';
@import './mona-heatmap.css';
@import './tabs.css';
@import './dropdown.css';
@import './matrix-cell.css';
@import './hover-tooltip.css';

.multi-matrix {
  margin: 20px;
  box-shadow: 3px 3px 5px 6px #ccc;
}

.row {
  display: flex;
}

.multi-matrix-title {
  margin: 0;
  margin-left: 80px;
}

.multi-matrix-cell {
  display: flex;
  justify-content: center;
  align-items: center;
}

.multi-matrix-header {
  display: flex;
  align-items: center;
  margin: 0;
  height: 40px;
  justify-content: space-between;
}

.multi-matrix-controls {
  display: flex;
  padding: 10px;
  width: 500px;
  justify-content: space-evenly;
}

.multi-matrix-input {
  margin-left: 10px;
  width: 60px;
}

.multi-matrix-legend-monotonic {
  width: 17px;
  height: 17px;
  border: 4px solid black;
  margin-right: 5px;
}

.multi-matrix-legend-no-value {
  width: 25px;
  height: 25px;
  background-color: #e5e5e5;
  margin-right: 5px;
}

.multi-matrix-legend-value-ignored {
  width: 25px;
  height: 25px;
  background-color: #514d4d;
  margin-right: 5px;
}

.column-header-cell-class-label {
  position: absolute;
  top: 10px;
  right: 50px;
  transform: rotate(270deg);
}

.row-header-cell-class-label {
  position: absolute;
  bottom: 30px;
}

.row-neuron-tabs {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 80px;
  margin-top: 468px;
  align-items: right;
}

.row-neuron-type-label {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 40px;
  width: 80px;
  border-radius: 0.5em 0em 0 0.5em;
  box-shadow: 3px 3px 5px 6px #ccc;
  margin-top: 2px;
}

.column-neuron-tabs {
  display: flex;
}

.column-neuron-type-label {
  display: flex;
  justify-content: center;
  border-radius: 0.5em 0.5em 0 0;
  align-items: center;
  align-self: flex-end;
  cursor: pointer;
  width: 80px;
  height: 40px;
  box-shadow: 3px 3px 5px 6px #ccc;
  margin-right: 2px;
}

.neuron-type-label-deactivated {
  opacity: 0.3;
}

.neuron-type-label-activated {
  opacity: 1;
}

.sensory {
  background-color: #f9cef9;
}

.interneuron {
  background-color: #ff887a;
}

.motor {
  background-color: #b7daf5;
}

.modulatory {
  background-color: #f9d77b;
}

.muscle {
  background-color: #a8f5a2;
}

.other {
  background-color: #d9d9d9;
}
